.card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 15px;
}
.card-image img{
    width: 100px;
    height: 100px;
}
.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0;
    font-size: 24px;
    color: #603809;
}

.card-content p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #707070;
}
